body{
	font-family: 'Lora', serif;
	font-family: 'STIX Two Text', serif;
	background-color: rgb(247, 202, 201);
	box-sizing: border-box;
	margin: 50px;
}

h1{
	text-align: left;
	color: RGB(221, 65, 36);
}

#tags p,#intro li{
	font-size: 1.5em;
	margin: 10px;
}

#details{
	text-align: center;
}

table{
	background-color: ghostwhite;
	margin-left: 143px;
	width: 80%;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
}
#details th{
	font-size: 1.5em;
	width: 50%;
	padding: 10px;
	border: 1px solid black;
	background-color: rgb(91, 94, 166);
}

#th1{
	border-radius: 25px 0px 0px 0px;
}

#th2{
	border-radius: 0px 25px 0px 0px;
}

.color1{
	background-color: rgb(136, 176, 75);
}

.color2{
	background-color: rgb(85, 180, 176);
}

.design1{
	border-radius: 0px 0px 0px 25px;
}

.design2{
	border-radius: 0px 0px 25px 0px;
}

#details td{
	font-size: 1.5em;
	margin: 10px;
	padding: 10px;
}

#tags p{
	margin-left: 40px;
}

#tags, #details, #link{
	margin-top: 100px;
}

#link a,#tags a{
	padding: 10px;
	margin-left: 40px;
	text-decoration: none;
	background-color: skyblue;
	border: 1px solid blueviolet;
	border-radius: 5px;
  	color: white;
 }

a:link {
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  text-decoration: underline;
}

/*Hover*/

#tags p:hover, li:hover{
	font-weight: bold;
}

.color1:hover{
	font-weight: bold;
	background-color: black;
}

.color2:hover{
	font-weight: bold;
	background-color: rgb(105,105,105);
}

h1:hover{
	color: rgb(139,0,0);
}